apiVersion: v1
kind: ConfigMap
metadata:
  name: marketplace-config
  namespace: marketplace
data:
  SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/marketplace?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
  SPRING_DATASOURCE_USERNAME: marketplace
  SPRING_JPA_HIBERNATE_DDL_AUTO: update
