name: CI Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'corretto'

      - name: Build & Test
        working-directory: backend
        run: mvn clean verify

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASS }}

      - name: Build Docker Image
        run: docker build -t ${{ secrets.DOCKER_USER }}/marketplace:${{ github.sha }} ./backend

      - name: Push Docker Image
        run: docker push ${{ secrets.DOCKER_USER }}/marketplace:${{ github.sha }}