name: CI Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'corretto'
          cache: 'maven'

      - name: Build & Test
        working-directory: backend
        run: mvn clean verify

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASS }}

      - name: Build Docker Image
        run: |
          docker build -t ${{ secrets.DOCKER_USER }}/marketplace:${{ github.sha }} \
                       -t ${{ secrets.DOCKER_USER }}/marketplace:latest \
                       ./backend

      - name: Push Docker Images
        run: |
          docker push ${{ secrets.DOCKER_USER }}/marketplace:${{ github.sha }}
          docker push ${{ secrets.DOCKER_USER }}/marketplace:latest