name: CI Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'corretto'

      - name: Build & Test
        working-directory: backend
        run: mvn clean verify

      - name: Docker Build
        run: docker build -t marketplace:${{ github.sha }} ./backend
